.dashboard-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .MuiCard-root {
    width: 30%;
    min-width: 300px;
    margin-bottom: 1em;
    // box-shadow: 0 3px 3px 3px #ddd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .MuiCardMedia-root {
      height: 200px;
    }
    &.disabled {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
        cursor: not-allowed;
      }
    }
  }
}
